body .alert{font-size:18px}body .table th{background-color:#EEE;vertical-align:middle !important;font-size:17px;text-align:center;padding:0 20px !important}body .table tr.noborder-right td{border-width:1px;border-left:0}body .table.t-out td:nth-child(even){border-right-width:0}body .table td{font-size:18px;text-align:center;vertical-align:middle !important;padding:5px 10px !important}body .table td.th1{font-size:16px}body .table td input{display:block;padding:0 !important;margin:0 !important;width:100%;font-size:18px;text-align:center}body .dropdown-menu li{padding:5px 10px;cursor:pointer}body .dropdown-menu li:hover{background-color:#CCC}body .result,body .alert{margin-top:20px}body .tab{padding-left:20px !important}body .tab strong{font-size:20px}body .super{font-size:22px}
/*# sourceMappingURL=main.css.map */
