body {
    .alert {
        font-size: 18px;
    }
    .table {
        th {
            background-color: #EEE;
            vertical-align: middle !important;
            font-size: 17px;
            text-align: center;
            padding: 0 20px !important;
        }
        tr {
            &.noborder-right {
                td {
                    border-width: 1px;
                    border-left: 0;
                }
            }
        }
        &.t-out {
            td {
                &:nth-child(even) {
                    border-right-width: 0;
                }
            }
        }
        td {
            &.th1 {
                font-size: 16px;
            }
            font-size: 18px;
            text-align: center;
            vertical-align: middle !important;
            padding: 5px 10px !important;
            input {
                display: block;
                padding: 0 !important;
                margin: 0 !important;
                width: 100%;
                font-size: 18px;
                text-align: center;
            }
        }
    }
    .dropdown-menu li {
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
            background-color: #CCC;
        }
    }
    .result,
    .alert {
        margin-top: 20px;
    }
    .tab {
        padding-left: 20px !important;
        strong {
            font-size: 20px;
        }
    }
    .super {
        font-size: 22px;
    }
}
